<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body>
    <a href="#main">{{ T "skip_to_content" }}</a>
    {{ partial "svg.html" . }}
    <div class="wrapper">
      {{ partial "header.html" . }}
      <div class="page">
          {{ block "main" . }}{{ end }}
          {{ partial "sidebar.html" . }}
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "katex.html" . }}
    {{ partial "google-analytics-async.html" . }}
  </body>
</html>
