<div class="nav-mobile mobile-show">
    <div class="nav-mobile-header">
        {{ partial "nav_mobile_header.html" . }}
    </div>
    <div class="nav-mobile-nav" role="navigation">
        <button class="hamburger" aria-label="Menu">
            <span class="hamburger__container" tabindex="-1">
                <span class="hamburger__bars"></span>
            </span>
        </button>
    </div>
</div>
<style>
/* Source: https://blog.robertorlinski.pl/2018/09/25/hamburger-menu/ */
.nav-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.nav-mobile-nav .hamburger {
	 margin: 0;
	 padding: 0;
	 border: 0;
     padding-left: 1rem;
	 background-color: transparent;
	 cursor: pointer;
}
.nav-mobile-nav .hamburger:focus > .hamburger__container {
	 box-shadow: 0 0 2px 2px #51a7e8;
}
.nav-mobile-nav .hamburger__container {
	 display: flex;
	 align-items: center;
	 position: relative;
	 width: 35px;
	 height: 30px;
}
.nav-mobile-nav .hamburger__bars {
	 position: absolute;
	 width: 35px;
	 height: 5px;
	 background-color: var(--color-accent);
	 transition: transform 220ms ease-in-out;
}
.nav-mobile-nav .hamburger__bars:before, .hamburger__bars:after {
	 display: block;
	 position: absolute;
	 width: 35px;
	 height: 5px;
	 background-color: var(--color-accent);
	 content: '';
}
.nav-mobile-nav .hamburger__bars:before {
	 top: -12px;
	 transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
}
.nav-mobile-nav .hamburger__bars:after {
	 bottom: -12px;
	 transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
}
.nav-mobile-nav .hamburger--active .hamburger__bars {
	 transform: rotate(225deg);
	 transition: transform 220ms 120ms ease-in-out;
}
.nav-mobile-nav .hamburger--active .hamburger__bars:before {
	 top: 0;
	 transition: top 100ms ease-out;
}
.nav-mobile-nav .hamburger--active .hamburger__bars:after {
	 bottom: 0;
	 transform: rotate(-90deg);
	 transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
}
.nav-mobile-nav .hamburger:focus, .hamburger__container:focus {
	 outline: none;
}
 
</style>
<script type="text/javascript">
    const menu = document.querySelector('.nav-mobile-nav .hamburger');

    menu.addEventListener('click', () => {
        menu.classList.toggle('hamburger--active');
    });
</script>