<style>
/* Fonts */
@font-face {
    font-family: 'Jaapokki';
    /* {{ $font := resources.Get "fonts/jaapokki-regular.woff" }} */
    src: url('{{ $font.Permalink }}') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sacramento';
    /* {{ $font := resources.Get "fonts/sacramento-regular.ttf" }} */
    src: url('{{ $font.Permalink }}') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Variables */
html {
  --color-text: #6C6C6C;
  --color-accent: #FB7BA2;
  --color-accent-lighter: #FB88AB;
  --color-accent-lightest: #FCAAC3;
}


/* Typography */
html, .root {
  font-size: 30px;
  line-height: 53px;
}

body, .article {
  font-family: 'Jaapokki', sans-serif;
  font-size: 1rem;
  line-height: 1.7666667rem;
  color: var(--color-text);
}

h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5 {
  font-weight: normal;
}
h1, .h1 {
  font-size: 3.3666667rem;
  line-height: 3.5333333rem;
  margin-top: 1.7666667rem;
  margin-bottom: 3.5333334rem;
}
h2, .h2 {
  font-size: 2.2666667rem;
  line-height: 3.5333333rem;
  margin-top: 1.7666667rem;
  margin-bottom: 1.7666667rem;
}
h3, .h3 {
  font-size: 1.5rem;
  line-height: 3.5333333rem; /* of h2 */
  margin-top: 1.7666667rem; /* of h2 */
  margin-bottom: 1.7666667rem; /* of h2 */
}
h4, .h4 {
  font-size: 1rem;
  line-height: 1.7666667rem;
  margin-top: 1.7666667rem;
  margin-bottom: 0rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.7666667rem;
  margin-top: 1.7666667rem;
  margin-bottom: 0rem;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.7666667rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

main {
  text-align: center;
}

a {
  color: var(--color-accent);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}


/* Layout */
html, body {
  padding: 0;
  margin: 0;
}

.page {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
}

main > *:first-of-type {
  margin-top: 0;
}

/* Fun */
html {
  background: var(--color-accent);
}

body {
  background: white;
}

::selection {
  background: var(--color-accent-lightest);
}

/* Utils */
.text-doslownie {
  font-family: 'Sacramento', serif;
  font-weight: normal;
  color: var(--color-accent);
}

.text-handwritten {
  font-family: 'Sacramento', serif;
  font-weight: normal;
  color: var(--color-accent-lightest);
}

.text-accent {
  color: var(--color-accent);
}

.text-dots {
  color: var(--color-accent);
}
</style>